
body {
	background-color: pink;
	font-family: Goudy Old Style;
}
.column-1 {
	display: inline-block;
	width: 48%;
	font-size: 16px;
} 

.column-2 {
	display: inline-block;
	width: 48%;
	font-size: 16px;
}