<!DOCTYPE html>
<html>
<head>
	<title>Display Campuses</title>
</head>
<body>
<form action="/students" method="POST"></form>
<input type="text" name="name" placeholder="name">
<button type="submit">Display Campuses</button>
<ul>
    
  </ul>
</body>
</html>