<!DOCTYPE html>
<html>
<head>
	<title>Campuses</title>
</head>
<body>
	<ul>
		<p>Please let us know what city you want a campus in.</p>
		<form action="/sudents" method="POST"></form>
		<input type="text" name="new campus" placeholder="Desired campus">
		<button type="submit">Submit</button>
	</ul>
</body>
</html>


